@page "/artist/{ArtistId:long}"
@attribute [Authorize]

@using ChinookDataAccess.ClientModels;
@using ChinookDataAccess.Models;
@using ChinookDataAccess.Contexts;
@using ChinookDataAccess.Pages.Interfaces;
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims;

@if (!string.IsNullOrWhiteSpace(InfoMessage))
{
    <div class="alert alert-info fade show">
        <div class="d-flex align-items-start">
            <div class="flex-grow-1">
                @InfoMessage
            </div>
            <button type="button" class="btn-close" aria-label="Close" @onclick="CloseInfoMessage"></button>
        </div>
    </div>
}

@if (Artist == null)
{
    <Loading />
}
else
{
    <h1>@Artist.Name</h1>
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th>Album title</th>
                    <th>Track name</th>
                    <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var track in Tracks)
            {
                <tr>
                    <td>@track.AlbumTitle</td>
                    <td>@track.TrackName</td>
                    <td>
                        @if (track.IsFavorite)
                        {
                            <a href="#" class="m-1" title="Unmark as favorite" @onclick="@(() => UnfavoriteTrack(track.TrackId))" @onclick:preventDefault><i class="bi bi-star-filled"></i></a>
                        }
                        else
                        {
                            <a href="#" class="m-1" title="Mark as favorite" @onclick="@(() => FavoriteTrack(track.TrackId))" @onclick:preventDefault><i class="bi bi-star"></i></a>
                        }
                        <a href="#" class="m-1" title="Add to playlist" @onclick="@(() => OpenPlaylistDialog(track.TrackId))" @onclick:preventDefault><i class="bi bi-file-earmark-plus"></i></a>
                    </td>
                </tr>
            }
            </tbody>
        </table>

}

@code {
    [Parameter] public long ArtistId { get; set; }
    [CascadingParameter] private Task<AuthenticationState> authenticationState { get; set; }
    [Inject] IArtistPage  _artistDataAccess { get; set; }
    [Inject] IPlayListPageData  _playlistDataAccess { get; set; }
    @inject NavigationManager navigationManager
    private Modal PlaylistDialog { get; set; }

    private Artist Artist;
    private List<PlaylistTrack> Tracks;
    private List<UserPlaylist> UserPlayLists;
    private DbContext DbContext;
    private PlaylistTrack SelectedTrack;
    private string InfoMessage;
    private string CurrentUserId;
    public string NewPlaylist { get; set; }
    public string ExistingPlaylist { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await InvokeAsync(StateHasChanged);
        string userId = await GetUserId();
        Artist = await _artistDataAccess.getArtistById(Convert.ToInt32(ArtistId));
        Tracks = await _artistDataAccess.getTrackList(Convert.ToInt32(ArtistId), userId);
        UserPlayLists = await _playlistDataAccess.getPlayListByUser(userId);
    }
    private async Task<string> GetUserId()
    {
        var user = (await authenticationState).User;
        var userId = user.FindFirst(u => u.Type.Contains(ClaimTypes.NameIdentifier))?.Value;
        return userId;
    }
    private void FavoriteTrack(long trackId)
    {
        string saveRec = string.Empty;
        var track = Tracks.FirstOrDefault(t => t.TrackId == trackId);
        saveRec = _playlistDataAccess.postTracksForPlayList("Favorite",trackId,GetUserId().Result).Result;
        InfoMessage = $"Track {track.ArtistName} - {track.AlbumTitle} - {track.TrackName} added to playlist Favorites.";
    }

    private void UnfavoriteTrack(long trackId)
    {
        var track = Tracks.FirstOrDefault(t => t.TrackId == trackId);
        InfoMessage = $"Track {track.ArtistName} - {track.AlbumTitle} - {track.TrackName} removed from playlist Favorites.";
    }

    private void OpenPlaylistDialog(long trackId)
    {
        CloseInfoMessage();
        SelectedTrack = Tracks.FirstOrDefault(t => t.TrackId == trackId);
        PlaylistDialog.Open();
    }

    private void AddTrackToPlaylist()
    {
        string saveRec = string.Empty;
        if (!string.IsNullOrEmpty(NewPlaylist))
        {
            saveRec = _playlistDataAccess.postTracksForPlayList(NewPlaylist, SelectedTrack.TrackId,GetUserId().Result).Result;
        }
        else{
             saveRec = _playlistDataAccess.postTracksForPlayList(ExistingPlaylist, SelectedTrack.TrackId,GetUserId().Result).Result;
        }
        CloseInfoMessage();
        InfoMessage = saveRec;
        PlaylistDialog.Close();
    }

    private void CloseInfoMessage()
    {
        InfoMessage = "";
    }

    public string getPlayListNameAsync(long playListId){
        return _playlistDataAccess.getPlayListById(playListId).Result.Name.Trim();
    }
}

<Modal @ref="PlaylistDialog">
    <Title>
        Add to playlist
    </Title>
    <Body>
        @if (SelectedTrack != null)
        {
            <div class="form-group mb-2">
                <label>@Artist.Name - @SelectedTrack.AlbumTitle - @SelectedTrack.TrackName</label>
            </div>
        }

        <div class="form-group mb-2">
            <label for="ExistingPlaylist">Add to existing playlist</label>
            <select class="form-control" id="ExistingPlaylist" @bind="ExistingPlaylist">
                @foreach(var userPlayList in UserPlayLists){
                    <option>@getPlayListNameAsync(userPlayList.PlaylistId)</option>
                }
            </select>
        </div>
        <div class="form-group mb-2">
            <label for="NewPlaylist">Create new playlist</label>
            <input type="text" id="NewPlaylist" class="form-control" placeholder="Name for the new playlist" @bind="NewPlaylist"/>
        </div>
    </Body>
    <Footer>
        <button class="btn btn-success" @onclick="AddTrackToPlaylist">Save</button>
    </Footer>
</Modal>
